<p id="notice"><%= notice %></p>

<h1>Snapshots</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Data name</th>
      <th>Project ID</th>
      <th>Query</th>
      <th>Content</th>
      <th>Headers</th>
      <th>Taken at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.origin %></td>
        <td><%= snapshot.data_name %></td>
        <td><%= snapshot.project_id %></td>
        <td><%= snapshot.query %></td>
        <td><%= JSON.parse(snapshot.content).length %></td>
        <td>
          <%= snapshot.headers %>
        </td>
        <td><%= snapshot.taken_at %></td>
        <td><%= link_to 'Show', snapshot %></td>
        <td><%= link_to 'Edit', edit_snapshot_path(snapshot) %></td>
        <td><%= link_to 'Destroy', snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snapshot', new_snapshot_path %>
