<h1>New Snapshot</h1>

<%= form_with(model: @snapshot, local: true) do |form| %>

  <div class="field">
    <%= form.label :tracker_project %>
    <%= form.text_field :tracker_project, id: 'tracker_project'%>
  </div>

  <div class="field">
    <%= form.label :tracker_token %>
    <%= form.text_field :tracker_token, id: 'tracker_token' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>

<%= link_to 'Back', snapshots_path %>
